body{
    padding: 7.5px;
    margin: 0;
}
.design{
    height: 100vh;
    display: grid;
}
h5{
    text-align: center;
}
.firstcontent{
    border:0.25px solid;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.secondcontent{
    border: 0.25px solid;
    display: grid;
    grid-template-columns: 1f4 4fr;
}
aside,main{
    border: 0.25px solid;
}
.topics{
    display: grid;
}
#politics{
    background-color: burlywood;
}
#technology{
    background-color: aquamarine;
}
#locals{
    background-color: aqua;
}
#opinion{
    background-color: blue;
}
#sports{
    background-color: rebeccapurple;
}